* {
    font-family: Helvetica;
}

h1, h2, h3, .blue {
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: khaki;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}

.product-type {
    font-size: 32px;
    color: white;
}

.mediumspringgreen {
    background-color:mediumspringgreen;
}

.lightcoral {
    background-color:lightcoral;
}

.skyblue {
    background-color: skyblue;
}

.blue {
    color: blue;
}